// Status colors
$infoColor: #3abef7;
$excellentColor: #00b774;
$successColor: #37d39a;
$neutralColor: #ffdb7f;
$warningColor: #fabd22;
$errorColor: #e4677e;

$baseColor100: #fff;
$baseColor200: #eee;

$primaryColor: $infoColor;

$shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
