@import "../../../sass/index.scss";

.feedback {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;

    &_header {
        display: block;
        background-color: $primaryColor;
        padding: 24px 16px 40px 16px;
        max-width: 100%;
        color: $baseColor100;
        border-radius: 100px;
    }

    &_ratings {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        transform: translateY(-32px);

        @include respond("phone") {
            gap: 16px;
        }
    }

    &_message {
        display: flex;
        flex-direction: column;
        gap: 16px;

        & label {
            font-weight: bold;
        }

        & textarea {
            min-height: 80px;
            max-height: 240px;
            border: 1px solid lighten(grey, 30%);
            border-radius: 4px;
            padding: 8px;
            resize: vertical;

            &[class*="error"] {
                border-color: red;
            }
        }
    }

    &_error {
        color: red;
        font-size: 12px;
        font-style: italic;
        align-self: self-start;
    }

    &_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;

        & p {
            font-size: 12px;
            font-style: italic;
            color: lighten(gray, 20%);
        }
    }

    &_success {
        padding: 16px;
        background-color: rgba($successColor, 0.2);
        color: $successColor;
        text-align: start;
    }
}
