<div class="info">
  <h2 class="info_title">
    Wat te doen als je je huis zelf verkoopt of verhuurt?
  </h2>
  <div class="info_content">
    <p>
      Twijfel je hoe je moet beginnen aan de verkoop of verhuur van je woning?
      Geen nood. We begrijpen dat dit een spannende periode is en we willen je
      hier graag bij helpen.
    </p>
    <p>
      Daarom gidsen we je door het proces met een overzichtelijk stappenplan. Zo
      kan je zonder zorgen je woning te koop of te huur aanbieden. Het enige wat
      je nog moet doen, is beslissen of je will verhuren of verkopen!
    </p>
  </div>
  <div class="info_buttons">
    <button type="button" class="btn">Verkoop</button>
    <button class="btn">Verhuur</button>
  </div>
</div>
